html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
}
header {
    flex: 20%;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #B10048;
    color: aliceblue;
    /*position: fixed;*/ /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    height: 100%;
}
main {
  flex: 85%;
  float: left;
  margin: 20px;
}
.menu {
  list-style-type: none;
  padding-inline-start: 0px;
  }

  .menuItem {
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF30;
    font-size: larger;
    text-align: center;
    padding: 10px ;
  }

  .menuItem a{
      color: aliceblue;
      text-decoration: none;
  }

  .menuItem:hover {
      text-decoration: none;
      background-color: #B10035;
  }

  .menuItem:active {
    text-decoration: none;
    background-color: #B10035;
}

#appTitle{
  text-align: center;
}
#appTitle a{
    font-size: xx-large;
    text-decoration: none;
    color: aliceblue;

}
#profilepic{
  height: 100px;
  width: 100%;
}

#profilepic img{
  height: 100%;
  width: 100px;
}

.profile_name, #profilepic{
  text-align: center;
  padding-bottom: 10px;
}
.logoff{
  float: left;
  margin-left: 50px;
  bottom:100;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white ;
  border-radius: 20%;
}
.logoff:hover {
  background-color:#B10035 ; /* Green */
  color: white;
  border-radius: 20%;
}

.statsArea {
  margin: 20px;
}

.desc {
  padding: 50px 100px 30px 100px;
}

.form-upload{
  margin-top: 100px ;
  text-align: center;
  border: double;
}
