{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Sanitation Hub</title>
    {% bootstrap_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
      <ul class="menu">
          <li id="appTitle"><a href="{% url 'index' %}">Sanitation Hub</a></li>
          <li class="menuItem"><a href="{% url 'maps' %}">Maps</a></li>
          <li class="menuItem"><a href="{% url 'stats' %}">Stats</a></li>
          <li class="menuItem"><a href="{% url 'charts' %}">Charts</a></li>
          <li class="menuItem"><a href="{% url 'appendix' %}">Appendix</a></li>
          <li class="menuItem"><a href="{% url 'upload' %}">Data Upload</a></li>
          <li class="menuItem"><a href="{% url 'contact' %}">Contact Us</a></li>

        </ul>
        {% if user.is_authenticated %}
            <div id="profilepic">
                {% if user.profilePic == '' %}
                    <img src="{% static 'images/pp.jpeg' %}" />
                {% else %}
                    <img src="{{user.profilePic.url}}">
                {% endif %}
            </div>
            <div class="profile_name">
                Hi {{ user.username }}!
            </div>
            <a href="{% url 'logout' %}"><button class="logoff">Logoff</button></a>
            <a href="{% url 'edit_profile' %}"><button class="logoff">Profile</button></a>

        {% else %}

        <p class="profile_name">You are not logged in</p>
        <a href="{% url 'login' %}"><button class="logoff">Login</button></a>
        <a href="{% url 'signup' %}"><button class="logoff">Register</button></a>
        
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock content%}
    </main>
{% bootstrap_javascript jquery='full' %} 

<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    $.get('{% url "dados" %}', function(data){
        var ctx = $('#graph').get(0).getContext("2d");
        new Chart(ctx, {
        type: 'line', data:data
        });
    });
</script>
{% block footer_script %}
{% endblock footer_script %}
</body>
</html>