{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1> Contact Us</h1>
{% if messages%}
      {% for m in messages %}
      <div class="alert aler-{{m.tags}}">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong> {{m}}</strong>
      </div>
    {% endfor %}
{% endif %}
  <form method="post" autocomplete="off">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Send Message</button>
  </form>
{% endblock %}


